<div class="container p-2 g-col-8">
<h1>Pousada <%= @guesthouse.brand_name %></h1>
<p class="font-monospace"><%= @guesthouse.description %></p>
<div>
    <dl>
        <% if host_signed_in? %> 
          <dt><strong><%= Guesthouse.human_attribute_name(:corporate_name) %>:</strong></dt>
          <dd><%= @guesthouse.corporate_name %></dd>
          <dt><strong><%= Guesthouse.human_attribute_name(:registration_number) %>:</strong></dt>
          <dd><%= @guesthouse.registration_number %></dd>
        <% end %>
        <dt><strong><%= Guesthouse.human_attribute_name(:brand_name) %>:</strong></dt>
        <dd><%= @guesthouse.brand_name %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:phone_number) %>:</strong></dt>
        <dd><%= @guesthouse.phone_number %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:email) %>:</strong></dt>
        <dd><%= @guesthouse.email %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:address) %>:</strong></dt>
        <dd><%= @guesthouse.address %> - <%= @guesthouse.neighborhood %>, <%= @guesthouse.city %> - <%= @guesthouse.state %> - <%= @guesthouse.postal_code %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:pet_friendly) %>:</strong></dt>
        <dd><%= @guesthouse.pet_friendly? ? 'Aceita' : 'Não aceita' %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:usage_policy) %>:</strong></dt>
        <dd><%= @guesthouse.usage_policy %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:payment_method_id) %>:</strong></dt>
        <dd><%= @guesthouse.payment_method.method %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:checkin) %>:</strong></dt>
        <dd><%= @guesthouse.checkin.strftime("%H:%M") %></dd>
        <dt><strong><%= Guesthouse.human_attribute_name(:checkout) %>:</strong></dt>
        <dd><%= @guesthouse.checkout.strftime("%H:%M") %></dd>
        <dt><%= Guesthouse.human_attribute_name(:status) %>:</dt>
        <dd><%= I18n.translate(@guesthouse.status) %></dd>
    </dl>
</div>
</div>
