<h3><%= t('views.search.result') %> <%= @query_params %></h3>

<p>
  <%= @guesthouses.count %> <%= Guesthouse.model_name.human(count: @guesthouses.count).downcase %> 
  <%= t(:found, count: @guesthouses.count) %>
</p>

<% @guesthouses.each do |guesthouse| %> 
  <ul>
    <li><%= link_to guesthouse.brand_name, guesthouse %></li>
  </ul>
<% end %>

<%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-outline-secondary"  %>
