<h1>Resultados da busca por: <%= @query_params %></h1>

<p><%= @guesthouses.count %> <%= Guesthouse.model_name.human(count: @guesthouses.count).downcase %> 
<%= t(:found, count: @guesthouses.count) %></p>
<% @guesthouses.each do |guesthouse| %> 
<ul>
  <li><%= link_to guesthouse.brand_name, guesthouse %></li>
</ul>
<% end %>
