
<% if current_host.present? && current_host.guesthouse == @guesthouse %>
<%= link_to 'Editar', edit_guesthouse_path %>
<% if @guesthouse.inactive? %>
<%= button_to 'Ativar pousada', active_guesthouse_path(@guesthouse.id) %>
<% else %>  
    <%= button_to 'Desativar pousada', inactive_guesthouse_path(@guesthouse.id) %>
  <% end %>
<% end %>

<%= render 'guesthouse' %>

<%= render 'rooms' %>

<div class="container">
<h5>Últimas Avaliações</h5>
  <% @newest_reviews.each do |review| %>
    <p><strong><%= review.guest.name %></strong></p>
    <p><sup> Visitou a pousada em:  <%= review.booking.start_date.strftime('%d/%m/%Y') %></sup></p>
    <p>Nota: <%= review.rating %></p>
    <p><%= review.comment %></p>
  <% end %>
  <%= link_to 'Ver todas as avaliações', guesthouse_reviews_guesthouse_path(@guesthouse.id) %>
  <%= link_to 'Voltar', root_path %>
</div>


