<% if current_guest.bookings.present? %>
  <% @bookings.each do |booking| %>
  <h3><%= "Reserva #{booking.code}" %></h3>
  <div>
    <p><%= booking.room.guesthouse.brand_name %></p>
    <% if booking.guest_cancellation_possibility? %>
      <%= button_to 'Cancelar Reserva', guest_canceled_guesthouse_room_booking_path(booking.room.guesthouse, booking.room, booking), method: :patch %>
    <% else %> 
      <p> Essa reserva não pode mais ser cancelada. </p>
    <% end %>
    <% if booking.status == 'done' && booking.review.blank? %>
      <%= link_to 'Avaliar Estadia', new_guesthouse_room_booking_review_path(booking.room.guesthouse, booking.room, booking), class: "btn btn-outline-primary" %>
    <% end %>
    <dl>
      <dt><%= Booking.human_attribute_name(:start_date) %>:</dt>
      <dd><%= "#{I18n.localize booking.start_date.to_date} - #{booking.room.guesthouse.checkin.strftime("%H:%M")}" %></dd>
      <dt><%= Booking.human_attribute_name(:end_date) %>:</dt>
      <dd><%=  "#{I18n.localize booking.end_date.to_date} - #{booking.room.guesthouse.checkout.strftime("%H:%M")}" %></dd>
      <dt><%= Booking.human_attribute_name(:number_guests) %>:</dt>
      <dd><%= booking.number_guests %></dd>
      <dt><%= Booking.human_attribute_name(:prices) %>:</dt>
      <dd>R$ <%= booking.prices %></dd>
      <dt><%= Guesthouse.human_attribute_name(:payment_method_id) %>:</dt>
      <dd><%= booking.room.guesthouse.payment_method.method %></dd>
        </dl>
      </div>
  <% end %>
<% else %>
  <p>Você ainda não tem reservas.</p>
<% end %>
