<h1>Verificar disponibilidade para:</h1>

<%= render partial: 'shared/room_recap', locals: { room: @room }%>

<% if(@booking.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<p>Verificar disponibilidade das datas: </p>

<%= form_with(model: [@guesthouse, @room, @booking]) do |f| %>
<div>
  <%= f.label :start_date %>: 
  <%= f.date_field :start_date %>
</div>

<div>
  <%= f.label :end_date %>: 
  <%= f.date_field :end_date %>
</div>

<div>
  <%= f.label :number_guests %>: 
  <%= f.number_field :number_guests %>
</div>

  <%= f.submit 'Verificar' %>
<% end %>