<h3><%= t('views.ongoing_bookings.active_bookings') %></h3>

<% if @bookings.present? %>
  <h6><%= t('views.guesthouse_bookings.booking_in', brand_name: @guesthouse.brand_name) %></h6>
  <div class="d-flex flex-wrap justify-content-around mt-5">
    <% @rooms.each do |room| %>
      <% room.bookings.where(status: :ongoing).each do |booking| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              <p><%= t('views.guesthouse_bookings.booking_code', code: booking.code) %></p>
              <p><%= t('views.guesthouse_bookings.room_name', name: room.name) %></p>
            </h5>
            <div class="text-center">
              <dl>
                <dt><%= Guest.human_attribute_name(:name) %>:</dt>
                <dd><%= booking.guest.name %></dd>
                <dt><%= Booking.human_attribute_name(:start_date) %>:</dt>
                <dd><%= "#{I18n.localize booking.start_date.to_date} - #{booking.room.guesthouse.checkin.strftime("%H:%M")}" %></dd>
                <dt><%= Booking.human_attribute_name(:end_date) %>:</dt>
                <dd><%=  "#{I18n.localize booking.end_date.to_date} - #{booking.room.guesthouse.checkout.strftime("%H:%M")}" %></dd>
                <dt><%= Booking.human_attribute_name(:number_guests) %>:</dt>
                <dd><%= booking.number_guests %></dd>
                <dt><%= Booking.human_attribute_name(:prices) %>:</dt>
                <dd>R$ <%= booking.prices %></dd>
                <dt><%= Guesthouse.human_attribute_name(:payment_method_id) %>:</dt>
                <dd><%= booking.room.guesthouse.payment_method.method %></dd>
                <dt><%= Booking.human_attribute_name(:register_checkin) %>:</dt>
                <dd><%= I18n.l((booking.checkin_time), format: '%d/%m/%Y %H:%M:%S') %></dd>
              </dl>
              <%= button_to t('views.guesthouse_bookings.manage'), host_control_guesthouse_room_booking_path(booking.room.guesthouse, booking.room, booking), method: :get, class: "btn btn-outline-primary"  %>
            </div>
          </div>
        </div>
      <% end %>      
    <% end %>
  </div>
<% else %>
  <p><%= t('views.guesthouse_bookings.no_bookings') %></p>
<% end %>
<%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-outline-secondary"  %>
