<h1><%= "Reserva #{@booking.code} confirmada!" %></h1>

<div>
  <p><%= @guesthouse.brand_name %></p>
  <dl>
    <dt><strong><%= Booking.human_attribute_name(:start_date) %>:</strong></dt>
    <dd><%= "#{I18n.localize @booking.start_date.to_date} - #{@guesthouse.checkin.to_fs(:time)}" %></dd>
    <dt><strong><%= Booking.human_attribute_name(:end_date) %>:</strong></dt>
    <dd><%=  "#{I18n.localize @booking.end_date.to_date} - #{@guesthouse.checkout.to_fs(:time)}" %></dd>
    <dt><strong><%= Booking.human_attribute_name(:number_guests) %>:</strong></dt>
    <dd><%= @booking.number_guests %></dd>
    <dt><strong><%= Booking.human_attribute_name(:prices) %>:</strong></dt>
    <dd>R$ <%= @total_price %></dd>
    <dt><strong><%= Guesthouse.human_attribute_name(:payment_method_id) %>:</strong></dt>
    <dd><%= @guesthouse.payment_method.method %></dd>
  </dl>
</div>
