<div class="d-flex flex-row justify-content-around mt-5">
  <div class="card text-center" style="width: 18rem;">
    <% if @guesthouse.nil? %> 
      <%= link_to t('views.home.register_guesthouse'), new_guesthouse_path, class: "btn btn-outline-primary" %>
        
    <% else %>
    
      <div class="card-header" style="width: 18rem;">
          <% if @guesthouse.inactive? %>
            <%= button_to t('views.home.activate_guesthouse'), active_guesthouse_path(@guesthouse.id), class: "btn btn-outline-primary" %>
          <% else %>  
            <%= button_to t('views.home.inactive_guesthouse'), inactive_guesthouse_path(@guesthouse.id), class: "btn btn-outline-danger" %>
          <% end %>
      </div>
          
      <div class="card-body" style="width: 18rem;">
          <h5 class="card-title"> <%= t('views.home.your_guesthouse') %></h5>
          <p class="card-text"><%= current_host.guesthouse.brand_name %></p>
          <p class="card-text"><%= current_host.guesthouse.city %></p>
      </div>
      
      <div class="card-footer text-body-secondary">
          <p><%= link_to t('views.home.see_details'), guesthouse_path(@guesthouse), class: "btn btn-outline-primary" %></p>
          <p><%= link_to t('views.home.add_rooms'), new_guesthouse_room_path(@guesthouse), class: "btn btn-outline-primary" %></p>

          <% if @guesthouse.rooms.any? %>
            <p><%= link_to t('views.home.see_rooms'), guesthouse_rooms_path(@guesthouse), class: "btn btn-outline-primary" %></p>
            <p><%= t('views.home.total_rooms')%> <%= @guesthouse.rooms.count %> </p>
          <% else %> 
            <p> <%= t('views.home.total_rooms') %> 0 </p>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
    

  