<% if host_signed_in? %>
  <%= render 'host', locals: { guesthouse: @guesthouse } %>
<% end %>

<div class="d-flex flex-row justify-content-around mt-5">
  <form class="d-flex" action="<%= cities_guesthouses_path %>" method="get">
    <select class="form-select me-2" name="city" aria-label="Default select example">
      <option selected><%= t('views.home.search_destination') %></option>
      <% if @cities.present? %>
        <% @cities.each do |city| %>
        <option value="<%= city %>"><%= city %></option>
        <% end %>
      <% end %>
    </select>
    <button type="submit" class="btn btn-primary"><%= t('views.home.search') %></button>
  </form>
</div>

<div class="d-flex flex-row justify-content-around mt-5" >
  <div class="card text-center" style="width: 18rem;">
    <p> <%= t('views.home.recent_gueshouse') %> </p>
    <ul class="list-group list-group-flush">
    <% @recent_guesthouses.each do |guesthouse| %> 
      <li class="list-group-item">
        <%= link_to "#{guesthouse.brand_name} - #{guesthouse.city}", guesthouse %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
  
<div class="d-flex flex-row justify-content-around mt-5" >
  <div class="card text-center" style="width: 18rem;">
    <p> Demais pousadas </p>
    <ul class="list-group list-group-flush">
      <% @other_guesthouses.each do |guesthouse| %> 
        <li class="list-group-item" ></li>
          <%= link_to "#{guesthouse.brand_name} - #{guesthouse.city}", guesthouse %>
        </li>
       <% end %>
    </ul>
  </div>
</div>

<div class="d-flex flex-row justify-content-around mt-5" >
  <div class="card text-center" style="width: 18rem;">
    <% if @guesthouses.empty? %> 
      <p><%= t('views.home.guesthouse_empty') %></p>
    <% end %>
  </div>
</div>

