<h1><%= t('views.home.search_detailed') %></h1>

<%= form_with model: @search do |f| %>

    <%= f.label :bathroom %>
    <%= f.select :bathroom, [[t('views.room.particular'), 1], [t('views.room.shared'), 0], ['', nil]] %><br><br>

    <%= f.label :balcony %>
    <%= f.select :balcony, [[t('views.room.it_has'), true], [t('views.room.it_has_not'), false], ['', nil]] %><br><br>

    <%= f.label :air_conditioner %>
    <%= f.select :air_conditioner, [[t('views.room.it_has'), true], [t('views.room.it_has_not'), false], ['', nil]] %><br><br>

    <%= f.label :tv %>
    <%= f.select :tv, [[t('views.room.it_has'), true], [t('views.room.it_has_not'), false], ['', nil]] %><br><br>

    <%= f.label :wardrobe %>
    <%= f.select :wardrobe, [[t('views.room.it_has'), true], [t('views.room.it_has_not'), false], ['', nil]] %><br><br>

    <%= f.label :safe %>
    <%= f.select :safe, [[t('views.room.it_has'), true], [t('views.room.it_has_not'), false], ['', nil]] %><br><br>

    <%= f.label :accessibility %>
    <%= f.select :accessibility, [[t('views.room.accessible'), true], [t('views.room.not_accessible'), false], ['', nil]] %><br><br>

    <%= f.submit t('views.home.search') %>
<% end %>

<p><%= link_to t('helpers.buttons.back'), root_path %></p>
