<h3><%= t('views.show.results') %></h3>

<p><%= link_to t('helpers.buttons.back'), new_search_path %></p>

<% if @guesthouses.empty? %>
    <p><%= t('views.show.none_found') %></p>
<% else %>
  <div>
    <p><%= t('views.show.count_guesthouses', count_guesthouses: @guesthouses.count) %></p>
    <% @guesthouses.each do |guesthouse| %>
      <span><%= link_to guesthouse.brand_name, guesthouse_path(guesthouse.id) %></span>
      <span><small><%= t('views.show.count_rooms', count_rooms: @rooms.where(guesthouse_id: guesthouse.id).count) %></small></span><br>
    <% end %>
  </div>
<% end %>