<h1>Quarto <%= @room.name %></h1>
<p>Pousada <%= @guesthouse.brand_name %></p>
<p><%= @room.description %></p>

<div>
  <dl>
    <dt><%= Room.human_attribute_name(:size) %>:</dt>
    <dd><%= @room.size %> m2 </dd>
 
    <dt><%= Room.human_attribute_name(:max_people) %>:</dt>
    <dd><%= @room.max_people %> pessoas </dd>
    
    <dt><%= Room.human_attribute_name(:price) %>:</dt>
    <dd>R$ <%= @room.price %></dd>
    
    <dt><%= Room.human_attribute_name(:bathroom) %>:</dt>
    <dd><%= @room.bathroom? ? 'Particular' : 'Compartilhado' %></dd>
    
    <dt><%= Room.human_attribute_name(:balcony) %>:</dt>
    <dd><%= @room.balcony? ? 'Possui' : 'Não possui' %></dd>
    
    <dt><%= Room.human_attribute_name(:air_conditioner) %>:</dt>
    <dd><%= @room.air_conditioner? ? 'Possui' : 'Não possui' %></dd>
    
    <dt><%= Room.human_attribute_name(:tv) %>:</dt>
    <dd><%= @room.tv? ? 'Possui' : 'Não possui' %></dd>
    
    <dt><%= Room.human_attribute_name(:wardrobe) %>:</dt>
    <dd><%= @room.wardrobe? ? 'Possui' : 'Não possui' %></dd>
    
    <dt><%= Room.human_attribute_name(:safe) %>:</dt>
    <dd><%= @room.safe? ? 'Possui' : 'Não possui' %></dd>
    
    <dt><%= Room.human_attribute_name(:accessibility) %>:</dt>
    <dd><%= @room.accessibility? ? 'Acessível para pessoas com deficiência' : 'Não acessível' %></dd>
    
    <dt><%= Room.human_attribute_name(:status) %>:</dt>
    <dd><%= I18n.translate(@room.status) %></dd>
  </dl>
</div>
