<h2><%= @review.reservation.guesthouse.brand_name %></h2>

<dl>
  <dt><%= Booking.human_attribute_name(:code) %>:</dt>
  <dd><%= @review.booking.code %></dd>
  <dt><%= Room.human_attribute_name(:room) %>:</dt>
  <dd><%= @review.booking.room.name %></dd>
  <dt><%= Review.human_attribute_name(:rating) %>:</dt>
  <dd><%= review.rating %></dd>
  <dt><%= Review.human_attribute_name(:rating) %>:</dt>
  <dd><%= review.rating %></dd>
  <dt><%= Review.human_attribute_name(:comment) %>:</dt>
  <dd><%= review.comment %></dd>
</dl>

<p>Deixe uma resposta abaixo:</p>
<%= form_with(model: @review, url: create_answer_review_path(@review), method: :post) do |f| %>
  <div><%= f.text_area :answer %></div>
  <div><%= f.submit 'Enviar' %></div>
<% end %>