<% if @reviews.any? %>
  <h2>Veja todas as suas avaliações:</h2>
  <% @reviews.each do |review| %>
    <dl>
      <p><strong><%= review.guest.name %></strong></p>
      <p><sup> Visitou a pousada em:  <%= review.booking.start_date.strftime('%d/%m/%Y') %> - Reserva <%= review.booking.code %></sup></p>
      <dt><%= Room.human_attribute_name(:room) %>:</dt>
      <dd><%= review.booking.room.name %></dd>
      <dt><%= Review.human_attribute_name(:rating) %>:</dt>
      <dd><%= review.rating %></dd>
      <dt><%= Review.human_attribute_name(:comment) %>:</dt>
      <dd><%= review.comment %></dd>
    </dl>
    <% if review.answer.present? %>
      <dl>
        <dt><%= Review.human_attribute_name(:answer) %>:</dt>
        <dd><%= review.answer %></dd>
      </dl>
    <% else %>
      <%= form_with(model: @review, url: create_answer_review_path(@review.id), method: :post) do |f| %>
        <div><%= f.label :answer %>:</div> 
        <div><%= f.text_area :answer %></div>
        <div><%= f.submit 'Enviar' %></div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>Ainda não existem avaliações.</p>
<% end %>