<h5><%= t('views.new.experience', brand_name: @guesthouse.brand_name, code: @booking.code) %></h5>
<p><%= t('views.new.rating') %></p>

<% if @review.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= t('messages.verify_error') %></strong>
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @review, url: guesthouse_room_booking_reviews_path(@guesthouse, @room, @booking)) do |f| %>
  <%= f.hidden_field :booking_id, value: @booking.id %>
    <div>
      <%= f.label :rating %>:
      <%= f.select :rating, (1..5).to_a %>
    </div>
    <div>
      <%= f.label :comment %>:
      <%= f.text_area :comment %>
    </div>
      <%= f.submit %>
<% end %>
