<nav>
<h1><%= link_to 'Pousadaria', root_path %></h1>
<div>
  <% if host_signed_in? %>
    <%= current_host.name %> |
    <%= button_to 'Sair', destroy_host_session_path, method: :delete %> |
  <% else %>
    <%= link_to 'Entrar como Anfitrião', new_host_session_path %>
  <% end %>
</div>
<div>
  <% if guest_signed_in? %>
    <%= current_guest.name %> |
    <%= button_to 'Sair', destroy_guest_session_path, method: :delete %> |
  <% else %>
    <%= link_to 'Entrar como Hóspede', new_guest_session_path %>
  <% end %>
</div>
</nav>